@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

header {
    background-image: radial-gradient(circle,rgba(164, 65, 184, 0.171) 42%,rgba(9, 1, 23, 0.329) 100%), url(../images/headerbright.webp);
    background-size: cover;
    max-height: 20em;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    color: #fff;
    text-shadow: 0px 0px 12px rgba(31, 4, 53, 0.795), 0px 0px 4px rgba(10, 1, 29, 0.699);
    font-weight: 400;
}

.header-navigation {
    background-color: #ffffffb7;
    box-shadow: 0px 2px 6px #13023b36, 0px 2px 12px #13023b23, 0px 2px 24px #13023b2c;
    max-height: 4em;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.band .header-navigation .content {
    align-items: center;
    justify-content: end;
    flex-direction: row;
}

.header-navigation .content a {
    margin-left: 4em;
}

.band {
    display: flex;
    flex: 1;
    justify-content: center;
}

.band .content {
    display: flex;
    flex: 1; 
    flex-direction: column;
    padding: 1em;
    max-width: 960px;
}

p, a {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6em;
}

a, a:visited {
    color: #5a14aa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.8em;
}

footer {
    background-color: #b3b2ec5e;
    max-height: 8em;
}

footer p, footer a {
    line-height: 1.2em;
    font-size: 0.9em;
}

footer.band .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right {
    text-align: right;
}

@media (max-width: 520px) {
    header {
        min-height: 240px;
    }
    
    h1 {
        font-size: 1.6em;
    }

    .band .header-navigation .content {
        justify-content: space-between;
    }

    .header-navigation .content a {
        margin-left: 0;
    }

    footer {
        max-height: initial;
        min-height: 12em;
    }

    footer.band .content {
        justify-content: space-between;
        flex-direction: column;
        align-items: start;
    }

    footer.band .content div {
        width: 100%;
    }
}